<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIDS Reliance</title>
    <link rel="stylesheet" href="{% static "infoDisplay/css/mystyle.css" %}">
  </head>
  <body>
<h1>airports</h1>
<form action="/index" method="post">
  {% csrf_token %}
	<p><select name="airport"  style="width: 2.49cm; height: 0.8cm">
		<option value="UDR" selected>Udaipur</option>
		<option value="DEL">Delhi</option>
		<option value="BOM">Mumbai</option>
    <option value="HYD">Hyderabad</option>
    <option value="JAI">Jaipur</option>
    <option value="AMD">Ahmedabad</option>
    <option value="MAA">Chennai</option>
    <option value="COK">Cochin</option>
</select>

</select>

  <button type="submit">Go</button>
	</p>
</form>


<div class="info display">
{% if flight_data %}
<table>
  <thead>
    <th>Flight Number</th>
    <th>Origin</th>
    <th>Origin Time</th>
    <th>Arrival Time</th>
    <th>Airlines</th>
    <th>Status</th>
    
  </thead>
{% for flights in flight_data %}
<tr>
  {% for flight in flights %}
  <td>{{flight}}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>

{% else %}
<p>Kindly select an airport </p>

{% endif%}

</div>
  </body>
</html>
